/* 公共部分 */
body,h1,h2,h3,h4,h5,h6,hr,img,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a,tr
	{
	margin: 0;
	padding: 0;
}

h1{font-size:30px;line-height:36px;}h1 small{font-size:18px;}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url(glyphicons-halflings.png);background-position:14px 14px;background-repeat:no-repeat;}[class^="icon-"]:last-child,[class*=" icon-"]:last-child{*margin-left:0;}
.icon-white{background-image:url(glyphicons-halflings-white.png);}
textarea{font-size:13px;font-weight:normal;line-height:18px;-webkit-border-radius:3px 3px 3px 3px;}
textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
textarea[readonly]{cursor:not-allowed;background-color:#eeeeee;border-color:#ddd;}
textarea,
.uneditable-input{display:inline-block;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;}

textarea{height:auto;}
body,button,input,select,textarea {
	font-size: 14px;
	font-family: Microsoft YaHei, 微软雅黑, Verdana, sans-serif, 宋体;
	background-color: #fff;
	line-height: 18px;
	resize:none;
}

body{
	background: url(headerBg.gif) repeat-x;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #006cbf;
}

a:hover {
	color: #ff9600;
	cursor: pointer;
}

img,input {
	border: none;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px 4px;margin-bottom:0;font-size:13px;line-height:18px;*line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}
.btn-small{padding:5px 9px;font-size:11px;line-height:16px;}
.btn-small [class^="icon-"]{margin-top:-1px;}
.btn-mini{padding:2px 6px;font-size:11px;line-height:14px;}
.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-primary{background-color:#0074cc;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0055cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#0055cc;*background-color:#004ab3;}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;}

.nav{margin-left:0;margin-bottom:18px;list-style:none;}
.nav>li>a{display:block;}
.nav>li>a:hover{text-decoration:none;background-color:#eeeeee;}
.nav>.pull-right{float:right;}
.nav .nav-header{display:block;padding:3px 15px;font-size:11px;font-weight:bold;line-height:18px;color:#999999;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}
.nav li+.nav-header{margin-top:9px;}
.nav-list{padding-left:15px;padding-right:15px;margin-bottom:0;}
.nav-list>li>a,.nav-list .nav-header{margin-left:-15px;margin-right:-15px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.nav-list>li>a{padding:3px 15px;}
.nav-list>.active>a,.nav-list>.active>a:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);background-color:#0088cc;}
.nav-list [class^="icon-"]{margin-right:2px;}
.nav-list .divider{*width:100%;height:1px;margin:8px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #ffffff;}

.row-fluid{width:100%;*zoom:1;}.row-fluid:before,.row-fluid:after{display:table;content:"";}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574%;*margin-left:2.0744680846382977%;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span12{width:99.99999998999999%;*width:99.94680850063828%;}
.row-fluid .span11{width:91.489361693%;*width:91.4361702036383%;}
.row-fluid .span10{width:82.97872339599999%;*width:82.92553190663828%;}
.row-fluid .span9{width:74.468085099%;*width:74.4148936096383%;}
.row-fluid .span8{width:65.95744680199999%;*width:65.90425531263828%;}
.row-fluid .span7{width:57.446808505%;*width:57.3936170156383%;}
.row-fluid .span6{width:48.93617020799999%;*width:48.88297871863829%;}
.row-fluid .span5{width:40.425531911%;*width:40.3723404216383%;}
.row-fluid .span4{width:31.914893614%;*width:31.8617021246383%;}
.row-fluid .span3{width:23.404255317%;*width:23.3510638276383%;}
.row-fluid .span2{width:14.89361702%;*width:14.8404255306383%;}
.row-fluid .span1{width:6.382978723%;*width:6.329787233638298%;}
.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #eee;border:1px solid rgba(0, 0, 0, 0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}
.well-large{padding:24px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.well-small{padding:9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}


.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: block;
	height: 1%;
}

.texthidden {
	white-space: nowrap;
	line-height:24px;
	font-size: 24px;
	color: #fff;
	margin-top: 8px;
}

.mr20 {
	margin-right: 20px;
}

#header {
	
	height: 50px;
	width:100%;
}

#logo {
	background: url(../img/logo.gif?20130730) no-repeat;
	line-height: 50px;
	cursor: pointer;
	width: 250px;
	height: 50px;
}

#mainSearch {
	float: right;
	margin-top: 10px;
}

.searchBox {
	height: 30px;
	line-height: 30px;
	padding: 0 15px 0 5px;
	background-color: #fff;
	color: #aaa;
	font-size: 14px;
	vertical-align: middle;
}

.searchButton {
	display: inline-block;
	padding: 2px 5px;
	margin-left: 20px;
	*height: 30px;
	height: 30px\9;
	background-color: #ff9600;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

.searchButton:hover {
	background-color: #ff8000;
}

#mainContent {
	
}

#footer {
	margin-top: 20px;
	background-color: #ececec;
	line-height: 30px;
}
/* END 公共部分 */

/*  INDEX  */
.column {
	margin-top: 10px;
}

.column h2 {
	color: #006cbf;
	font-size: 24px;
	font-weight: normal;
}

.used ul {
	margin-top: 20px;
}

.used  li {
	float: left;
	border: 1px solid #eee;
	margin-right: 10px;
	margin-bottom: 10px;
}

.used a,.coming a {
	height: 60px;
	width: 60px;
	display: block;
}

.latestTool {
	width: 300px;
	float: left;
	margin-top: 20px;
	padding: 10px;
	background-color: #f6fcff;
	position: relative;
	z-index: 1;
}

.latestTool dt {
	float: right;
	font-size: 18px;
	line-height: 24px;
}

.latestTool img {
	float: left;
	margin-right: 10px;
	width: 96px;
}

.toolDescription dt {
	width: 194px;
	overflow: hidden;
	white-space: nowrap; /*不显示的地方用省略号...代替*/
	text-overflow: ellipsis; /* 支持 IE */
	-o-text-overflow: ellipsis; /* 支持 Opera */
}

.latestTool .intro {
	height: 36px;
	float: right;
	width: 194px;
	margin: 5px 0;
	overflow: hidden;
}

.latestTool .tags,.detailTags {
	float: right;
	width: 194px;
	font-size: 12px;
	color: #909090;
}

.boxShadow {
	box-shadow:2px 2px 10px #AAA ;
	-moz-box-shadow: 2px 2px 10px #AAA ;
	-webkit-box-shadow: 2px 2px 10px #AAA ;
}

.detailTags {
	width: 294px;
}

.detail {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 400px;
	padding: 10px;
	background-color: #dff5fe;
}

.detail dt {
	width: 294px;
}

.detailIntro {
	float: right;
	width: 294px;
	margin: 5px 0;
}

.coming  ul {
	margin-top: 20px;
}

.coming h2 {
	color: #aaa;
}

.coming  li {
	float: left;
	border: 1px solid #eee;
	margin-right: 10px;
	margin-bottom: 10px;
}

.advise {
	margin: 30px 0 30px 20px;
	font-size: 16px;
	color: #333;
}

.toolActive {
	z-index: 998;
}

/* END INDEX  */
/*  tools  */

/*  public  */
#header { /*  重置header  */
	/*background: #006cbf url(../img/headerBg.gif) left bottom repeat-x;*/
	height: 55px;
	position: relative;
	z-index: 1;
}

#mainContent textarea,#mainContent input[type='text'] { /*  定义textarea和input边框样式  */
	border: 1px solid #ccc;
}

.toolButton { /*  定义Button样式  */
	padding: 0 10px;
	margin: 5px;
	line-height: 33px;
	height: 33px;
	width: auto;
	overflow: visible;
	background-color: #eaf8ff;
	border-bottom: 1px solid #a8e6ff;
	border-right: 1px solid #a8e6ff;
	border-top: 1px solid #fafdff;
	border-left: 1px solid #fafdff;
	font-weight: bold;
	cursor: pointer;
	color: #666;
	vertical-align: middle;
}

.toolButton:hover {
	color: #006cbf;
}

.buttonSelected { /*  定义Button选中样式  */
	background-color: #bfeaff;
	border-bottom: 1px solid #65d2ff;
	border-right: 1px solid #65d2ff;
	color: #0061ab;
}

.toolUsing {
	margin-top: 30px;
}

.toolInput { /*  定义input样式  */
	line-height: 30px;
	height: 30px;
	width: 300px;
	padding: 0 5px;
	vertical-align: middle;
}

.toolLabel { /*  定义label样式  */
	font-weight: bold;
	color: #006cbf;
}

/*  description  */
.description {
	background-color: #dff5fe;
	padding: 15px 10px;
	margin-top: -4px;
}

.description h2,.intro,.tags {
	width: 874px;
	float: right;
}

.description h2 {
	line-height: 24px;
	font-size: 18px;
}

.description .img {
	float: left;
	margin-right: 10px;
	width: 96px;
}

.description .intro {
	margin: 5px 0;
}

.description .tags {
	font-size: 12px;
	color: #909090;
}

.toolName {
	line-height:24px;
	font-size: 24px;
	color: #777;
	margin-top: 10px;
}
/* 　END description  */

/*  END public  */

/*  左右版式  */
.leftBar {
	float: left;
}

.rightBar {
	float: right;
}

.leftBar textarea,.rightBar textarea {
	width: 410px;
	height: 500px;
}

.operateLR {
	float: left;
	width: 136px;
	text-align: center;
	margin: 30px 5px 0 5px;
}
/*  END 左右版式  */

/*  上下版式  */
.topBar textarea,.bottomBar textarea {
	width: 998px;
	height: 200px;
}

/*  END 上下版式  */

/*  工具切换
.toolsTab {
	margin-bottom: 10px;
	line-height: 40px;
	background-color: #f6fcff;
	font-size: 18px;
}
  

.toolsTab li {
	float: left;
	padding: 0 10px;
	background-color: #e8e8e8;
	color: #000;
	cursor: pointer;
	border-right:1px solid #ccc;
}

.toolsTab li.focus {
	margin-right: 1px;
	margin-top: -1px;
	background-color: #0f5992;
	color: #fff;
	line-height: 42px;
}
*/
/*  END 工具切换  */

/*  表格样式  */
.toolTable {
	text-align: center;
	line-height: 36px;
	border-collapse: collapse;
	border: none;
	margin: 10px 0 20px 0;
}

.toolTable caption {
	margin-bottom: 20px;
	font-size: 24px;
	color: #777;
}

.toolTable th,.toolTable td {
	border: solid #ccc 1px;
}

.toolTable th {
	color: #006cbf;
}

.separateColor {
	background-color: #f4f4f4;
}
/*  END 表格样式  */
